<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="rootHostName" value="helixbase" />
    <settings>
      <setting name="Analytics.CookieDomain" value="$(rootHostName)" />
      <setting name="Login.BackgroundImageUrl" value="login/Helixbase_Wallpaper.jpg" />
      <setting name="Login.DisableLicenseInfo" value="false" />
    </settings>
    <sites>
      
    </sites>
    <cacheSizes>
      <sites>
        <website>
          <patch:delete />
        </website>
      </sites>
    </cacheSizes>
  </sitecore>
</configuration>