<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Foundation.UserSettings" 
					description="Foundation.UserSettings templates and renderings"
					extends="Helix.Feature.Base"
          >
          
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Rules" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/User Settings"/>
            <include name="Tags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/User Settings"/>
            <include name="ConditionalRenderingsTags" database="master" path="/sitecore/system/Settings/Rules/Conditional Renderings/Tags/Default"/>
            <include name="FormComponents" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions/SaveToUserSettings"/>
            <include name="FormActions" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Save To User Settings"/>
            <include name="FormValueProviders" database="master" path="/sitecore/system/Settings/Forms/Value Providers/User Settings Value Provider"/>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
