<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Feature.Preference" 
					description="Feature.Preference templates and renderings"
					extends="Helix.Feature.Base"
          >
          
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <include name="Templates" database="master" path="/sitecore/templates/Feature/SF/Preference"/>
            <include name="Theme" database="master" path="/sitecore/media library/Base Themes/Preferences List"/>
            <include name="Branches" database="master" path="/sitecore/templates/Branches/Feature/SF/Preference"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/SF/Preference"/>
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/SF/Preference"/>
            <include name="Thumbnails" database="master" path="/sitecore/media library/Feature/SF/Preference"/>
            <include name="Feature" database="master" path="/sitecore/system/Settings/Feature/SF/Preference"/>
            <include name="CustomExpButton" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Edit Preferences List Settings"/>
            <include name="EditFrame" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Preferences List"/>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
