<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net471" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Sitecore.Mvc" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XA.Feature.Composites" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XA.Foundation.DynamicPlaceholders" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XA.Foundation.IOC" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XA.Foundation.MarkupDecorator" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XA.Foundation.Mvc" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XA.Foundation.SitecoreExtensions" version="9.3.0" targetFramework="net471" />
</packages>