<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Foundation.Facets" 
					description="Foundation.Facets templates and renderings"
					dependencies="Foundation.Serialization"
				>
          <targetDataStore
            physicalRootPath="$(foundationFolder)\Facets\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Rules" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/SF"/>
            <include name="ConditionalRenderingsTags" database="master" path="/sitecore/system/Settings/Rules/Conditional Renderings/Tags/Default"/>
            <include name="FormComponents" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions/SaveToUserSettings"/>
            <include name="FormActions" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Save To User Settings"/>
            <include name="FormValueProviders" database="master" path="/sitecore/system/Settings/Forms/Value Providers/User Settings Value Provider"/>
            <include name="ExperienceProfileTab" database="core" path="/sitecore/client/Applications/ExperienceProfile/Contact/PageSettings/Tabs/User Settings"/>

            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
